streamlit>=1.24.0
pandas>=1.5.0
numpy
matplotlib>=3.6.0
seaborn>=0.12.0
python-dotenv>=1.0.0
google-generativeai>=0.3.0
textstat>=0.7.0
nltk>=3.8.0
rouge_score>=0.1.2
sentence-transformers>=2.2.0
scikit-learn>=1.2.0
huggingface-hub>=0.16.0
transformers>=4.30.0
torch>=2.0.0
plotly
google-genai
spacy

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz